* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Comforter Brush',
                cursive
}

body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.433);
}

h3 {
        font-size: 20px;
        background-color: rgb(255, 248, 248);
        padding: 3px;
        margin-bottom: 10px;
}

.grid {
        width: 430px;
        margin: auto;
        background-color: aliceblue;
        padding-left: 5px;
}

img {
        width: 60px;
        height: 50px;
        padding: 0 2px;
        object-fit: cover;
        cursor: pointer;
}